{% extends 'base.html' %}

{% block title %}Liste des chunks{% endblock %}

{% block styles %}
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: #f4f4f4;
            text-align: left;
        }
        pre {
            white-space: pre-wrap; /* Permet de conserver les sauts de ligne */
            word-wrap: break-word; /* Permet de couper les longues chaînes */
        }
{% endblock %}
{% block content %}
    <h1>Liste des Chunks</h1>

    <button onclick="window.location.href='{% url 'chat' %}'">Chat avec IA</button>

    <br><br>    
    
    {% if chunks %}
    <table>
        <thead>
            <tr>
                <th>Source</th>
                <th>Page</th>
                <th>Chunk Index</th>
                <th>Content</th>
                <th>First 20 caracters of Embedding</th>
            </tr>
        </thead>
        <tbody>
            {% for chunk in chunks %}
            <tr>
                <td>{{ chunk.document }}</td>
                <td>{{ chunk.page }}</td>
                <td>{{ chunk.chunk_index }}</td>
                <td>{{ chunk.content }}</td>
                <td>
                    <pre>{{ chunk.embedding|slice:":20" }}</pre>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>Aucun chunk n'a été trouvé.</p>
    {% endif %}
{% endblock %}